body {
background-image: url('../images/bg_pattern_chalkboard.jpg');


}

#wrapper{
	font-family: "Georgia", Georgia, serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
}
#header {
	width: 100%;
	height: 100px;
}
#logo {
	float: left;
	margin: 20px 20px 20px 20px;

}

.navbar{
    /*background-image: url('../images/bg_pattern_chalkboard.jpg');*/
    background-color: #222;
}

#menu ul {
	float: left;
	height: auto;
	width: 200px;
}
#menu ul li{
	list-style: none;
	padding: 5px;
	text-align: center;
}
#menu ul li a {
	color: #4E4f3E;
	text-decoration: none;
	padding: 10px 0px;
	display : block;

}
#menu ul li a:hover{
	color: #fff;

}

#content{
	float: left;
	color:white;
	width: 100%;
	height: 100%;
	
}
#boom{
	float: left;
	height: 150px;
	width: 150px;
	padding: 15px;


}
#content h1 {
	text-align: center;
	padding: 5px;
	
}


#voortgangtekst{
	text-align: center;
}

#links{
	float: right;
	margin: 40px 20px 20px 20px;
}
#links ul li{
	float:left;
	list-style: none;
	padding-right: 15px;
}
#links img {
	height: 55px;
	width: 55px;
}
#navbar ul li{
	float:left;
	list-style: none;
	padding-left: 10px;
	color: #4E4f3E;


}
#navbar ul li a{
	color: #4E4f3E;
	text-decoration: none;
	padding: 10px 0px;	
}
#navbar ul li a:hover{
	color: #fff;

}

ul{
	list-style-type: none;
}
h3{
	text-align: center;
}
#receptImg{
	float: left;
	height: 250px;
	width: 250px;
	padding: 15px;

}
#recept{
	float: left;
	height: 450px;
	width: 450px;
	margin: 50px;
}
#challenge{
	float: left;
	height: 450px;
	width: 450px;
	margin: 50px;
}

.navbar-brand{
    padding: 10px 0px !important;
}

.evaLogo{
    padding: 10px !important; 
}

nav a:hover{
    cursor: pointer;
}