<body>
	<div id="wrapper">
		<div id="header">

			<div id="logo">
				<img src=../images/eva-logo.png  alt ="logo" title="EVA"/>
			</div>
			<div id="navbar">
			<ul>
				<li><a href= "link">Settings</a></li>
				<li><a href= "link">uitloggen</a></li>
			</ul>
			</div>


			<div id="links">
				<ul>
					<li><a href="https://www.facebook.com/evavzw" target="_blank"><img src=../images/fb-logo.png alt="facebookpagina" title="eva facebook"/></a></li>
					<li><a href="http://www.evavzw.be/" target="_blank"><img src=../images/eva-logo.png alt="evasite" title="eva site"/></a></li>
				</ul>
			</div>

		</div>
		<div id="sidebar">
			<div id="menu">
				<ul class="nav">
					<li><h2><a ng-href= "#/challenges">Challenges</a></h2></li>
					<li><h2><a ng-href= "#/recepten">Recepten</a></h2></li>
					<li><h2><a href= "link">Link3</a></h2></li>

				</ul>
			</div>
		</div>
		<div id="content">
			<h1>Challenge</h1>
			<img id = "boom" ng-src="../images/boom/tree-{{gebruiker.aantalDagen}}.png" alt="tree" title="tree">
			<p id="voortgangtekst">je zit aan dag {{gebruiker.aantalDagen}} van de 21 dagen, blijven doorgaan!
			<div class="col-sm-9">
				<uib-progressbar class="progress-striped active" max="21" value="gebruiker.aantalDagen">
					<i>{{gebruiker.aantalDagen}}/21</i>
				</uib-progressbar>
			</div>

			<h2>{{challenge.titel}}</h2>
			<p>{{challenge.omschrijving}}</p>

					<!--<button type="submit" class="btn btn-primary">Volgende challenge</button>-->
			</p>
			<div ng-click="receptUrl()">
			<h1>Recept van de dag!</h1>
				<md-content class="md-padding">
    				<md-card>
      					<img ng-src="Http://{{recept.imageUrl}}" class="md-card-image" alt="{{recept.titel}}">
      					<md-card-content>
        				<p>
          					{{recept.omschrijving}}
        				</p>
      					</md-card-content>
    				</md-card>
    			</md-content>
			</div>
		</div>

	</div>
</body>

