    <div id="content">
    <div id="challenge">
    <h1>Challenge</h1>
    <img id="boom" ng-src="../images/boom/tree-{{user.aantalDagen}}.png" alt="tree" title="tree">
    <p id="voortgangtekst">
        je zit aan dag {{user.aantalDagen}} van de 21 dagen, blijven doorgaan!
        <div class="col-sm-9">
            <uib-progressbar class="progress-striped active" max="21" value="gebruiker.aantalDagen">
                <i>{{user.aantalDagen}}/21</i>
            </uib-progressbar>
        </div>

        <h2>{{challenge.titel}}</h2>
    <p>{{challenge.omschrijving}}</p>

    <!--<button type="submit" class="btn btn-primary">Volgende challenge</button>-->
    </p>
    </div>
    <div id ="recept" ng-click="receptUrl()">
        <h1>Recept van de dag!</h1>
        <img id="receptImg" ng-src="http://{{recept.imageUrl}}" alt="tree" title="tree">
        <h3>{{recept.titel}}</h3>
        <p id="voortgangtekst">{{recept.omschrijving}}</p>
    </div>
    </div>



