<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1519833821647286',
      xfbml      : true, 
            version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<img src="images/eva-logo.png" />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <h1>Log in</h1>
      </div>
      <form name ="form" ng-submit="logIn()" role="form"
        style="margin-top:30px;">
        <h4>Gebruikersnaam</h4>

        <div class="form-group">
          <input type="text" ng-model="username"></input>
        </div>
        <h4>Paswoord</h4>
        <div class="form-group">
          <input type="password" ng-model="password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form> 
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
    </div>
  </div>
</body>