   <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="page-header">
          <h1>Log in</h1>
        </div>
        <form name ="form" ng-submit="logIn()" role="form">
          <h4>Gebruikersnaam</h4>
          <div class="form-group">
            <input type="text" ng-model="username"></input>
          </div>
          <h4>Paswoord</h4>
          <div class="form-group">
            <input type="password" ng-model="password"></input>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form> 
      </div>
    </div>
