<div>
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form" ng-submit="vm.registreer()" role="form" class="form-horizontal">
        <fieldset>
            <legend id="rheader">Registreren</legend>
    <div class ="row">        
        <div class="form-group form-inline" ng-class="{ 'has-error': form.voornaam.$dirty && form.voornaam.$error.required }">
            <div class="col-md-1 col-md-offset-5">
            <label for="voornaam">Voornaam</label>
            </div>
            <div class="col-md-2">
            <input type="text" name="voornaam" id="Text1" class="form-control" ng-model="vm.user.voornaam" required />
            <span ng-show="form.voornaam.$dirty && form.voornaam.$error.required" class="help-block">Voornaam is verplicht</span>
            </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-error': form.naam.$dirty && form.naam.$error.required }">
            <div class="col-md-1 col-md-offset-5">
            <label for="naam">Naam</label>
            </div>
            <div class="col-md-2">
            <input type="text" name="naam" id="Text1" class="form-control" ng-model="vm.user.naam" required />
            <span ng-show="form.naam.$dirty && form.naam.$error.required" class="help-block">Naam is verplicht</span>
            </div>
        </div> 
        <div class="form-group form-inline" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required || form.email.$error.email}">
            <div class="col-md-1 col-md-offset-5">
            <label for="email">E-mail</label>
            </div>
            <div class="col-md-2">
            <input type="text" name="email" id="Text1" class="form-control" ng-model="vm.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail is verplicht</span>
            <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">E-mail is niet correct</span>
            </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class="col-md-1 col-md-offset-5">
            <label for="password">Wachtwoord</label>
            </div>
            <div class="col-md-2">
            <input type="password" name="password" id="Text1" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Wachtwoord is verplicht</span>
            </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-error': form.passwordconfirm.$dirty && form.passwordconfirm.$error.required || form.passwordconfirm.$error.compareTo}">
            <div class="col-md-1 col-md-offset-5">
            <label for="passwordconfirm">Bevestiging wachtwoord</label>
            </div>
            <div class="col-md-2">
            <input type="password" name="passwordconfirm" id="Text1" class="form-control" ng-model="vm.user.confirmpassword" required compare-to="vm.user.password"/>
            <span ng-show="form.passwordconfirm.$dirty && form.passwordconfirm.$error.compareTo || form.passwordconfirm.$error.required" class="help-block">Wachtwoorden komen niet overeen</span>
            </div>
        </div>
    </div>
    </div>
</fieldset>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Registreer</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/login" class="btn btn-link">Annuleer</a>
        </div>
    </div>
    </div>
    </form>
</div>

